body {width: 70%; margin-left: auto; margin-right: auto;}
h1, h2, h3 {font-family: Helvetica; margin-top: +2%;}
h1 {font-size: 32px;}
table, th, td {border: 1px solid black;}
figure {font-style: italic; text-align: right; float: right;}